.Sign-main{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    padding: 100px 10%;
    flex-direction: column;
}
.form-group {
    width: 100%; }
    .form-group label {
      font-weight: 500;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.9);
      margin-bottom: 0; }
      .form-group label.label {
        width: 150px; 
}

.signupImage{
    width: 100%;
    background-image: url("https://res.cloudinary.com/dcpks831z/image/upload/v1615717281/RoomAssets/SignUpImage_e6j79a.jpg");
}

.text{
    color: whitesmoke !important;
}


.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px !important;
    font-weight: 400 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize !important;
    letter-spacing: 0 !important;
    color: rgba(0, 0, 0, 0.4) !important; }
  
  /* Hide the browser's default checkbox */
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0; }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 18px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      .checkmark:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  
  /* Show the checkmark when checked */
  .checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2); }
  
  /* Style the checkmark/indicator */
  .checkbox-primary {
    color: #000; }
    .checkbox-primary input:checked ~ .checkmark:after {
      color: #000; }
  

      .or{
          text-align: center;
      }